[MASTER]
py-version = 3.11
jobs = 4
disable =
    C0111,  # missing-docstring
    C0103,  # invalid-name
    C0302,  # too-many-lines
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    R0904,  # too-many-public-methods
    W0212,  # protected-access
    R0201,  # no-self-use
    C0302,  # too-many-lines

[FORMAT]
max-line-length = 120

[DESIGN]
max-attributes = 10
max-arguments = 6

[SIMILARITIES]
min-similarity-lines = 6
ignore-comments = yes
ignore-docstrings = yes
ignore-imports = yes
